
bozza/bozza.ai
bozza/PNG/social_fb.png
bozza/PNG/social_insta.png
bozza/PNG/social_share.png
bozza/PNG/Tavola disegno 4esercitazione 2 inclusive.png
bozza/SVG/social_fb.svg
bozza/SVG/social_insta.svg
bozza/SVG/social_share.svg
test/completo min - collegamento.lnk
test/animazioni test/transitiontest.js
test/animazioni test/style.css
test/animazioni test/script4.js
test/animazioni test/script3.js
test/animazioni test/script2.js
test/animazioni test/script.js
test/animazioni test/METTENDO 20000  a z-index i div passano su livello della foto.txt
test/animazioni test/index2.html
test/animazioni test/index.html
test/animazioni test/foto presentazione.png
test/animazioni test/foto presentazione 3.png
test/animazioni test/foto presentazione 2.png
bozza/bozza.ai
bozza/bozza.ai
bozza/bozza.ai
.vscode/settings.json
bozza/bozza.ai
*.psd
bozza/bozza.ai
bozza/gif/inception.jpg
bozza/gif/Tavola disegno 2.png
bozza/gif/Tavola disegno 27.png
bozza/bozza.ai
bozza/bozza.ai
bozza/bozza.ai
*.ai
img/presentation_3.png
img/presentation_2.png
img/presentation_1.png
img/presentation_0b.png
img/presentation_0.png
img/Mouse-cursor-hand-pointer.svg
img/cursor.png
img/about.png
bozza/bozza.ai
bozza/bozza.ai
