*{
    font-family: monospace;
	border: 0.1px solid black;
    
}
body{

    padding: 25px 50px 0px 50px;
    border-color: tomato;
}
/* NAVBAR */
#navbar{
    display: flex;
    justify-content: space-between;
}
.navlink a{
    margin-left: 20px;}


/* presentazione */

#presentation{
    /* display: flex;
    margin-top: 25px; 
    align-items: center;
    justify-content:center;
    flex-wrap: wrap-reverse;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto; */


}
#presentation div {
/* width: 500px;
margin-left: 25px;
margin-right: 25px; */

}
#presentation img{
    /* width: 100vw;
    max-width: 450px; */
}

#presentation div h1{
    font-size: 72px;
    /* font-size: 10vh; */
    font-family: riffic free;
    margin-bottom: 26px;
}
#presentation div h5{
    font-size: 21px;
    text-transform: uppercase;
    color: gray;
}
#presentation div p{
    margin-top: 42px;
    margin-bottom: 36px;
    font-size: 26px;

}
#presentation div a{
    /* padding-top: 100px; */
    color: green;
    background-color: rgb(110, 221, 184);

}

/* box porfolio */
#boxporfolio{
    /* display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    margin-right: auto;
    margin-left: auto; */
    
}
#boxporfolio div{

    /* flex-grow: 2; */
    /* min-width: 300px;
    background-color: indianred; */
}

