@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,500&display=swap');
@import url("/fonts/RifficFree-Bold.ttf");

/*-----------------*/
/* GENERALE, TESTI E TITOLI*/
h1, h2{
    font-family: riffic free;
}
h1{
    font-size: 72px;
    margin-bottom: 26px;
}
h2{
    font-size: 51px;
    margin-bottom: 21px;
}
h5, h4, p, a{
    font-family: "Poppins",  sans-serif;
    
}
h5, h4{
    font-size: 14px;
    text-transform: uppercase;
    color: gray;
}
h4{
    color: rgb(46, 46, 46);
    font-weight: 500;
}
p{
    font-weight: 500;
}