*{
    font-family: monospace;
	border: 0.1px solid black;
    
}
body{
    padding: 25px 50px 0px 50px;
    border-color: tomato;
}

/* -------------------------------------- */
/* GENERALE, TESTI E TITOLI*/
h1, h2{
    font-family: riffic free;
}
h1{
    font-size: 72px;
    margin-bottom: 26px;
}
h2{
    font-size: 51px;
    margin-bottom: 21px;
}
h5, h4, p, a{
    font-family: "Poppins",  sans-serif;
    
}
h5, h4{
    font-size: 14px;
    text-transform: uppercase;
    color: gray;
}
h4{
    color: rgb(46, 46, 46);
    font-weight: 500;
}
p{
    font-weight: 500;
}

/* ------------------------------------ */
/* NAVBAR */
#navbar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 25px 50px 25px 50px;
    box-shadow: 0px 0px 0px #9e7eff7e;
    background-color: white;
    z-index: 100;
}
.navlogo{
    flex-grow: 1;
}
.navlink a{
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 2;
    
}
.navlink{
justify-self: center;    

flex-grow: 1;
}
.navham{
    /* width: 25%; */
}

/* -------------------------------------------- */
/* PRESENTAZIONE */

#presentation{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 125px;
    width: 100%;
    flex-direction: row;
}
/* blocco per i testi*/
#presentation div {width: 400px;margin-left: 25px;margin-right: 25px;order: -1;}
/* blocco per la foto */
#presentation img{
    width: 100vw;
    max-width: 450px;
    margin-right: -80px;
    margin-left: -50px;
}
/* sottotitolo */
#presentation div h5{
    font-size: 21px;
    text-transform: uppercase;
    color: gray;
    margin-bottom: 36px;
}
/* piccola descrizione */
#presentation div p{
    margin-top: 42px;
    margin-bottom: 48px;
    font-size: 26px;
}
/* pulsante */
#presentation div a{
    color: #0a0a0a;
    /* font-weight: bold; */
    background-color: rgb(82, 255, 179);
    font-size: 21px;
    padding: 15px 30px 15px 30px;
    border-radius: 100px;
    text-decoration: none;
}

/* ---------------------------------------- */
/* PORTFOLIO */
/* titolo sezione */
.titlesection{
    border-bottom: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
/* container per i project */
#containerportfolio{
display: flex;
flex-wrap: wrap;
max-width: 1200px;
justify-content: center;
margin-top: 100px;
margin-right: auto;
margin-left: auto;
}
/* project per ogni progetto */
.project{
    box-shadow: 0px 0px 10px #00000094;
    flex-grow: 0;
    width: 250px;
    height: 250px;
    margin: 20px;
    /* background-color: indianred; */
    border-radius: 50px;
    overflow: hidden;
    transform: scale(0.9);
    transition-property: transform, box-shadow; 
    transition-duration: 1s ;  
    z-index: 3;
}
/* zoom-in project*/
.project:hover{
    transform: scale(1.25);
    box-shadow: 0px 0px 20px #00000094;
    z-index: 4;
}

/* immagine */
#containerportfolio .project img{
    width: 250px;
    /* border-radius: 50px; */
    transform: scale(1.5);
    transition: transform 1s;
}
/* zoom-out immagine  */
#containerportfolio .project img:hover{
    transform: scale(1.02)
}
/* spengo i div delle descrizioni dei progetti */
.project div, .project h4{
    display: none;
}

/* ------------------------------------------ */ 
/* DESCRIZIONI PORTFOLIO */
/* project del progetto selezionato */
.projectactive{
    /* order: ; */
    flex-grow: 0;
    width: 100%;
    /* border: 20px solid; */
    background-color: rgb(255, 255, 255);
    height: 450px;
    display:flex;
    align-items: flex-start;
    border-radius: 75px;
    box-shadow: 0px 0px 20px #00000047;
    margin: 0;
    margin: 40px 0px 40px 0px;
    overflow: hidden;
}
/* riaccendo i div */
.projectactive div{
    display: unset;
}
/* immagine del progetto selezionato */
#containerportfolio .projectactive img{
    height: 100%;
    margin-left: 0px;
    border-radius: unset;
    /* border-top-left-radius : 50px; */
    /* border-bottom-left-radius :75px; */
    flex-grow: 1;
    object-fit: cover;
    min-width: 300px;  
}
/* blocco descrizione */
.projectactive .projectcaption{
    margin-left: 65px;
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 25px;
    max-width: 525px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
/* project intestazione */
.projectactive .projectcaption div{ 
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
/* social */
.projectactive .social{
    width: 20px;
    align-self: center;
    margin-left: auto;
    margin-right: 30px;
    order: 6;
}
.projectactive .social a{
    display: block;
    color: rgba(0, 0, 0, 0); /*testo trasparente*/
    width: 20px;
    height: 20px;
    margin-top: 10px;
    opacity: 0.3;
}
/* icone sfondo nel tag a */
.projectactive .social a:nth-of-type(1){
    background: url("../img/social/social_share.svg")no-repeat top left;
}
.projectactive .social a:nth-of-type(2){
    background: url("../img/social/social_insta.svg")no-repeat top left;
}
.projectactive .social a:nth-of-type(3){
    background: url("../img/social/social_fb.svg")no-repeat top left;
}
/* testi nelle descrizioni */
.projectactive p{
    margin-top: 20px;
    margin-bottom: 25px;
    max-width: 450px;
    font-size: 16px;
}
.projectactive h2{
    margin-top: 35px;
    margin-bottom: 17px;
}
.projectactive h4{
    right: 0;
    font-weight: 700;
}
.projectactive h5{
    font-weight: 500;
    margin-top: auto;
    text-align: end;
}

/* ------------------------------------------------- */ 
/* SEZIONE SKILLS E INTERESSI */

/* container */
#containerskills{
margin-top: 100px;
}
.skill{
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #00000094;


}
.skill div{
    padding: 0; /*reset padding nella row*/
}

.skill div img{
    transform: scale(1.05);
    width: 100%;
    max-height: 300px;
    /* max-width: 400px; */
    object-fit: cover;
}
.skill .skillcaption{

    padding: 70px 50px;
}

/* ------------------------------------------ */
/* RESPONSIVE SETTINGS */
@media only screen and (max-width: 880px) {
        /* Quando lo schermo è meno di 880px*/
        /* body {
        } */
      /* -------------------------------------- */
    /* GENERALE, TESTI E TITOLI*/
    h1{
        font-size: 56px;
        margin-bottom: 18px;
    }
    /* h2{
        font-size: 51px;
        margin-bottom: 21px;
    }
    h5, h4{
        font-size: 14px;
        text-transform: uppercase;
        color: gray;
    }
    h4{
        color: rgb(46, 46, 46);
        font-weight: 500;
    }
    p{
        font-weight: 500;
    } */

    /* ---------------------------------------- */
    /* NAVBAR */
    #navbar{
        display: flex;
        position: fixed;
        justify-content: space-between;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 25px 50px 25px 50px;
        box-shadow: 0px 0px 0px #9e7eff7e;
        background-color: white;
        z-index: 100;
    }
    .navlogo{
        flex-grow: 1;
    }
    .navlink a{
        margin-left: 20px;
        margin-right: 20px;
        flex-grow: 2;
        
    }
    .navlink{
    justify-self: center;    

    flex-grow: 1;
    }
    .navham{
        /* width: 25%; */
    }

    /* -------------------------------------------- */
    /* PRESENTAZIONE */

    #presentation{
        /* display: flex;
        margin-top: 50px;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap-reverse;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 125px; */
    }
    /* blocco per i testi*/
    #presentation div {
    /* width: 290px;
    margin-left: 25px;
    margin-right: 25px; */
    }
    /* blocco per la foto */
    #presentation img{
        width: 100vw;
        max-width: 350px;
        margin-right: -80px;
        margin-left: -50px;
    }
    /* sottotitolo */
    #presentation div h5{
        /* font-size: 18px;
        text-transform: uppercase;
        color: gray; */
        margin-bottom: 26px;
    }
    /* piccola descrizione */
    #presentation div p{
        margin-top: 0px;
        margin-bottom: 48px;
        font-size: 21px;
        max-width: 300px;
    }
    /* pulsante */
    /* #presentation div a{
        color: #0a0a0a; */
        /* font-weight: bold; */
        /* background-color: rgb(82, 255, 179);
        font-size: 18px;
        padding: 15px 30px 15px 30px;
        border-radius: 100px;
        text-decoration: none; */
    /* } */
    /* ------------------------------------------- */    
     /* PORTFOLIO */

    /* project per ogni progetto */
    .project{
        width: 125px;
        height: 125px;
        margin: 5px;
        border-radius: 25px;
    }
    /* immagine */
    #containerportfolio .project img{
        width: 125px;
    }
    /* ------------------------------------------ */ 
    /* DESCRIZIONI PORTFOLIO */
    /* project del progetto selezionato */
    .projectactive{
        height: 100%;
        display:flex;
        flex-direction: column;
    }
    /* immagine del progetto selezionato */
    #containerportfolio .projectactive img{
        height: unset;
        max-height: 300px;
        width: 100%; 
    }
    /* blocco descrizione */
    .projectactive .projectcaption{
        margin: 40px 40px 20px 40px;
        max-width: unset;
        flex-direction: column;
    }
    /* social */
    .projectactive .social{
        width: 100%;
        padding: 0px 40px 40px 40px;
        text-align: center;
    }
    .projectactive .social a{
        display: inline-block;
        margin-right: 20px;
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }
    /* testi nelle descrizioni */
    .projectactive p{
        margin-bottom: 0px;
    }
    .projectactive h5{
        margin-top: 10px;
    }
}

  @media only screen and (max-width: 650px) {
    /* Quando lo schermo è meno di 650px*/
    body {
      padding:0;
    }
      /* -------------------------------------- */
    /* GENERALE, TESTI E TITOLI*/
    h1{
        font-size: 48px;
        margin-bottom: 21px;
    }
    /* h2{
        font-size: 51px;
        margin-bottom: 21px;
    }
    h5, h4{
        font-size: 14px;
        text-transform: uppercase;
        color: gray;
    }
    h4{
        color: rgb(46, 46, 46);
        font-weight: 500;
    }
    p{
        font-weight: 500;
    } */

    /* ---------------------------------------- */
    /* NAVBAR */
    #navbar{
        display: flex;
        position: fixed;
        justify-content: space-between;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 25px 50px 25px 50px;
        box-shadow: 0px 0px 0px #9e7eff7e;
        background-color: white;
        z-index: 100;
    }
    .navlogo{
        flex-grow: 1;
    }
    .navlink a{
        margin-left: 20px;
        margin-right: 20px;
        flex-grow: 2;
        
    }
    .navlink{
    justify-self: center;    

    flex-grow: 1;
    }
    .navham{
        /* width: 25%; */
    }

    /* -------------------------------------------- */
    /* PRESENTAZIONE */

    #presentation{
        /* display: flex;
        margin-top: 50px;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap-reverse;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 125px; */
        flex-direction: column;
    }
    /* blocco per i testi*/
    #presentation div {
    width: unset;
    margin-left: 25px;
    margin-right: 25px;
    order: 2;
    }
    /* blocco per la foto */
    #presentation img{
        /* width: 100vw; */
        max-width: 250px;
        /* margin-right: -80px; */
        /* margin-left: -50px; */
        margin: unset;
        margin-bottom: -35px;
    }
    /* sottotitolo */
    #presentation div h5{
        font-size: 14px;
        /* text-transform: uppercase;
        color: gray; */
        margin-bottom: 26px;
    }
    /* piccola descrizione */
    #presentation div p{
        margin-top: unset;
        margin-bottom: 36px;
        font-size: 16px;
    }
    /* pulsante */
    #presentation div a{
        /* color: #0a0a0a; */
        /* font-weight: bold; */
        /* background-color: rgb(82, 255, 179); */
        font-size: 14px;
        /* padding: 15px 30px 15px 30px;
        border-radius: 100px;
        text-decoration: none; */
    }
    /* ------------------------------------------- */    
     /* PORTFOLIO */

    /* project per ogni progetto */
    .project{
        width: 125px;
        height: 125px;
        margin: 5px;
        border-radius: 25px;
    }
    /* immagine */
    #containerportfolio .project img{
        width: 125px;
    }
}